version: 2
jobs:
  build:
    docker:
      - image: zhaofengshu33/bhcd-docker:v1
    steps:
      - checkout
      - run: git submodule update --init
      - run:
         name: build
         command: ./build.sh
      - persist_to_workspace:
         root: dist
         paths:
          - wheelhouse
  deploy:
    docker:
      - image: circleci/python:3.7.3
    steps:
      - attach_workspace:
          at: dist
      - run:
         name: install twine
         command: sudo pip install twine
      - run:
         name: deploy to pypi
         command: twine upload dist/wheelhouse/* -u zhaofeng-shu33
 
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
         requires:
           - build
         filters:
           tags:
             only: /v.*/
      
